@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.5rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
  --color-ej-teal: oklch(0.6332 0.038 182.72);
  --color-ej-blue: oklch(0.3737 0.0377 214.25);
  --color-ej-dark-teal: oklch(0.4972 0.036 198.57);
  --color-ej-gold: oklch(0.7744 0.0688 99.32);
  --color-ej-parchment: oklch(91.69% 0.047 80.79)
}

body {
  font-family: 'Libre Baskerville', serif;
}

.subscription-form > div:first-child {
  @apply flex justify-center lg:justify-end
}

.subscription-form > div > form > p {
  @apply flex flex-col gap-4 lg:mt-14
}

.subscription-form > div > form > p > br {
  @apply hidden
}

.subscription-form > div > form > div:last-child {
  @apply absolute mt-4 mb-0 mx-0 rounded-md w-[19rem] text-white border-0 bg-ej-blue top-[73.5%]
}

.subscription-form__input--name {
  @apply min-w-0 w-full flex-auto appearance-none rounded-md border border-zinc-900/10 bg-white px-3 py-[calc(--spacing(2)-1px)] shadow-md shadow-zinc-800/5 placeholder:text-zinc-400 focus:border-ej-teal focus:ring-4 focus:ring-ej-teal/10 focus:outline-hidden sm:text-sm dark:border-zinc-700 dark:bg-zinc-700/[0.15] dark:text-zinc-200 dark:placeholder:text-zinc-500 dark:focus:border-ej-gold dark:focus:ring-ej-gold/10;
}

.subscription-form__input--email {
  @apply min-w-0 w-full flex-auto appearance-none rounded-md border border-zinc-900/10 bg-white px-3 py-[calc(--spacing(2)-1px)] shadow-md shadow-zinc-800/5 placeholder:text-zinc-400 focus:border-ej-teal focus:ring-4 focus:ring-ej-teal/10 focus:outline-hidden sm:text-sm dark:border-zinc-700 dark:bg-zinc-700/[0.15] dark:text-zinc-200 dark:placeholder:text-zinc-500 dark:focus:border-ej-gold dark:focus:ring-ej-gold/10;
}

.subscription-form__btn {
  @apply inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-800 font-semibold text-zinc-100 hover:bg-zinc-700 active:bg-zinc-800 active:text-zinc-100/70 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:active:bg-zinc-700 dark:active:text-zinc-100/70 flex-none hover:cursor-pointer w-fit self-center lg:self-end
}

.wpcf7-spinner {
  @apply absolute
}

.wp-block-group__inner-container {
  display: contents;
}